[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaIntegrator"]
	path = MetaIntegrator
	url = https://github.com/cran/MetaIntegrator
